.home {
    height: 100vh;
    background: linear-gradient(180deg, rgba(1, 22, 39, 0.00) 0%, #011627 99.64%, #011627 10%), url('../public/Next.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.myimg {
    width: 20%;
    height: 40%;
}
